<h1>Dear USERNAME!</h1>
<p><br/></p>
<h2>Thank you for registering on GherkinEditor.</h2>
<h2>To validate your email address, please click on the following url or copy it and paste in your browser:</h2>
<a href='URL'>Activation link</a>
<p><br/></p>
<h3>Thanks in advance!</h3>
<h3>Best regards:</h3>
<h3>Gherkin Editor team</h3>
<p><strong><br/></strong></p>